<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NekoVpk.NekoSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <NekoVpk.NekoSettings>
            <setting name="GameDir" serializeAs="String">
                <value />
            </setting>
            <setting name="CompressionLevel" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="IgnoreVpkErrors" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BackgroundImagePath" serializeAs="String">
                <value />
            </setting>
            <setting name="BackgroundBrightness" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="BackgroundStretch" serializeAs="String">
                <value>UniformToFill</value>
            </setting>
            <setting name="SteamApiKey" serializeAs="String">
                <value />
            </setting>
            <setting name="ClearSearchAfterDownload" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UserFont" serializeAs="String">
                <value>Microsoft YaHei UI</value>
            </setting>
            <setting name="UserFontSize" serializeAs="String">
                <value>14</value>
            </setting>
        </NekoVpk.NekoSettings>
    </userSettings>
</configuration>